<div class="content">
    <div class="content__left">
      <div class="content__left--image"></div>
    </div>
    <div class="content__right">
      <div class="content__right__top">
        <%= link_to tweet.title, tweet_path(tweet.id), class: "content__right__top--title" %>
      </div>
      <div class="content__right__bottom">
         <div class="content__right__bottom--userName">
          <%= tweet.user.nickname %>
        </div>
        <div class="content__right__bottom--date">
          <%= tweet.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
        </div>
      </div>
    </div>
  </div>